@import 'variables';
@import 'mixins';

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

img {
	width: 275px;
	margin: 5px 5px 0px 5px;
	border: 5px solid black;
}

.hidden {
	display: none;
}

.call {
	text-align: center;
}

.push {
	text-align: center;
}

.ranges-container {
	display: flex;
	text-align: center;
	width: 100%;
}

.jump-nav {
	position: fixed;
	top: 780px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
	.left {
		display: flex;
		background-color: black;
	}
	.right {
		display: flex;
		background-color: black;
	}
	a {
		list-style-type: none;
		text-decoration: underline;
		margin: 0px 15px;
		cursor: pointer;
		color: white;
		font-weight: bold;
		font-size: 24px;
	}
}

.range {
	display: inline-block;
}

img.bloch_call {
	width: 400px;
	display: inline-block;
}
img.bloch_jam {
	width: 400px;
	display: inline-block;
}

.bloch_images {
	display: flex;
	justify-content: space-around;
}

.call-ranges {
	background-color: red;
	width: 50%;
}

.push-ranges {
	background-color: green;
	width: 50%;
}

:focus.push {
	background-color: green;
}

:focus.call {
	background-color: red;
}

.range {
	height: 330px;
}

.range-description {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	width: 275px;
	height: auto;
}

.extra {
	@extend .range-description;
}

.bloch_tables {
	display: flex;
	justify-content: space-around;
}

table {
	display: inline-block;
	width: 400px;
	border: 5px solid black;
	cursor: pointer;
	padding: 5px;
	td {
		font-size: 11.5px;
		font-weight: bold;
		text-align: center;
		border: 1px solid black;
		height: 25px;
		width: 28px;
	}
	td:hover {
		background-color: black;
		color: white;
	}
	td.pair {
		background-color: green;
	}
	td.suited {
		background-color: rgb(248, 115, 115);
	}
}

table#bloch_call_hidden,
table#bloch_jam_hidden {
	border: 5px dotted black;
	td {
		vertical-align: middle;
		text-align: center;
	}
}

.villain-range {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	color: white;
	background-color: black;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: auto;
	height: auto;
	border: 2px solid black;
}
