img {
	width: 275px;
	margin: 5px 5px 0px 5px;
}

.ranges {
	width: 1250px;
}

.call-ranges .range {
	display: inline-block;
}

.push-ranges .range {
	display: inline-block;
}

.range {
	text-align: center;
	height: 330px;
}

.range-description {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 275px;
	height: auto;
}

.extra {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	width: 275px;
}
