img {
	width: 275px;
	margin: 5px 5px 0px 5px;
}

.ranges {
	width: 1250px;
}

.call-ranges .range {
	display: inline-block;
}

.push-ranges .range {
	display: inline-block;
}

.range {
	text-align: center;
}

.range-description {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
